@import url('https://fonts.googleapis.com/css?family=Teko');

html, body {

    background: url("../images/drk-box.png");
    /*background-size: cover;*/
    position: relative;
    z-index:-2;
    height: 100%;
    padding: 0;
    margin: 0;

}


.container {
    width: 100%;
    max-width: 4000px;
    padding: 0;
    margin: 0;
}

.bg-custom-dark {
    background-color: #1C1C1D;
    /*background: url("../images/drk-box.png");*/
}

#image-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2 !important;
    padding: 0;
    margin: 0;
}

.filter-container {
    background-color: rgba(40, 38, 39, 0.70);
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: -1 !important;
}

.break-rule {
    width: 10%;
    color: #f00;
    background-color: #f00;
    height: 4px;
    opacity: 0.8;
}

nav {
    font-family: 'Teko', sans-serif;
}
.my-name {
    color: #fff;
    font-size: 40px;

}

.main-container {
    /*background-color: rgba(255,255,255,0.9);*/
    background: url("../images/astro-bg.jpg");
    background-size: cover;
    position: relative;
    z-index:-2;
    color: #fff;

}





.box {
    width:100%;
    background:#FFF;
    background: url("../images/bg-paper.png");
    margin:0;
    padding: 0;
}

.box h3{
    text-align:center;
    position:relative;
    top:80px;
}

.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 30px #000;
    -moz-box-shadow: 0 15px 30px #000;
    box-shadow: 0 15px 30px #000;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.effect2:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}


nav a {
    color: #fff;

}


.img-logo  {
    width: 60px;
    height: 60px;
}

.contact-btn {
    background-color: red;
    border: 3px solid red;
    color: #fff;
    border-radius: 25px;
    width: 150px;
    text-align: center;
    line-height: 40px;
    -webkit-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    -moz-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);

}

.tag-button {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 25px;
    width: 150px;
    height:50px;
    line-height: 40px;
    -webkit-box-shadow: -1px -1px 44px -6px rgba(255,255,255,1);
    -moz-box-shadow: -1px -1px 44px -6px rgba(255,255,255,1);
    box-shadow: -1px -1px 44px -6px rgba(255,255,255,1);


}

.tag-button:hover {
    background-color: rgba(200,0,0,0.75);
    -webkit-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    -moz-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    cursor: pointer;

}

.contact-btn a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.tag-line {
    font-size: 72px;

}

.panel {
    border: 0;
    color: #fff;
    min-height: 500px;
    padding: 20px;
    position: relative;

}

.panel img {
    width: 70%;
    margin: 30px;
}

.panel span {
    font-weight: bold;
    font-size: 25px;

}

.design-panel::after {

    background-color: #000000;
    background: url("../images/astro-bg.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    content: "";
    opacity: 0.7;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px) sepia(60%);
}



.development-panel::after {
    background: url("../images/hipster.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    content: "";
    opacity: 0.7;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px) sepia(60%);
}
.comm-panel::after {
    background: url("../images/24hours.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    content: "";
    opacity: 0.7;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px) sepia(60%);
}
.strategy-panel::after {
    background: url("../images/time.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    content: "";
    opacity: 0.7;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px) sepia(60%);
}

.more-btn {
    
    border: 2px solid red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 3.0;
    margin-left: auto;
    margin-right: auto;

    -webkit-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    -moz-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    cursor: pointer;

}
/* Shutter Out Vertical */
.hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background: #d11b1a;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#panels:before {
    content: "";
    z-index: 1;
    background-color: rgba(0,0,0,0.5);

}
.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: white;
}
.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}




/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


footer {
    width: 100%;
    min-height: 300px;
}