@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Gruppo|Lato|Righteous');

html, body {

    background: url("../images/drk-box.png");
    /*background-size: cover;*/
    position: relative;
    z-index:-2;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

/* Fix for issues overflow 100%*/
.row { margin: 0; padding: 0 }

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.bg-custom-dark {
    background-color: transparent;
    /*background: url("../images/drk-box.png");*/
}

#image-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0 !important;
    padding: 0;
    margin: 0;
}

.filter-container {
    background-color: rgba(40, 38, 39, 0.70);
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: -1 !important;
}

.break-rule {
    width: 10%;
    color: #f00;
    background-color: #f00;
    height: 4px;
    opacity: 0.8;
}

nav {
    font-family: 'Teko', sans-serif;
}
.my-name {
    color: #fff;
    font-size: 40px;

}

.main-container {
    /*background-color: rgba(255,255,255,0.9);*/
    background: url("../images/astro-bg.jpg");
    background-size: cover;
    z-index:-2;
    color: #fff;

}

.center-container {
    position: relative;
    transform: translateY(25%);
}


.box {
    width:100%;
    background:#FFF;
    background: url("../images/bg-paper.png");
    margin:0;
    padding: 0;
}

.box h3{
    text-align:center;
    position:relative;
    top:80px;
}

/*.effect2*/
/*{*/
    /*position: relative;*/
/*}*/
/*.effect2:before, .effect2:after*/
/*{*/
    /*z-index: -1;*/
    /*position: absolute;*/
    /*content: "";*/
    /*bottom: 15px;*/
    /*left: 10px;*/
    /*width: 50%;*/
    /*top: 80%;*/
    /*max-width:300px;*/
    /*background: #777;*/
    /*-webkit-box-shadow: 0 15px 30px #000;*/
    /*-moz-box-shadow: 0 15px 30px #000;*/
    /*box-shadow: 0 15px 30px #000;*/
    /*-webkit-transform: rotate(-3deg);*/
    /*-moz-transform: rotate(-3deg);*/
    /*-o-transform: rotate(-3deg);*/
    /*-ms-transform: rotate(-3deg);*/
    /*transform: rotate(-3deg);*/
/*}*/
/*.effect2:after*/
/*{*/
    /*-webkit-transform: rotate(3deg);*/
    /*-moz-transform: rotate(3deg);*/
    /*-o-transform: rotate(3deg);*/
    /*-ms-transform: rotate(3deg);*/
    /*transform: rotate(3deg);*/
    /*right: 10px;*/
    /*left: auto;*/
/*}*/


nav a {
    color: #fff;

}

nav a:hover {
    color: #fff;
    text-decoration: none;
}


.img-logo  {
    width: 50px;
    height: 50px;
}

.contact-btn {
    background-color: red;
    border: 3px solid red;
    color: #fff;
    border-radius: 25px;
    width: 130px;
    text-align: center;
    line-height: 35px;
    padding-top: 5px;
    margin-top: 10px;
    -webkit-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    -moz-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);

}

.tag-button {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 25px;
    width: 150px;
    height:50px;
    line-height: 40px;
    -webkit-box-shadow: -1px -1px 44px -6px rgba(255,255,255,1);
    -moz-box-shadow: -1px -1px 44px -6px rgba(255,255,255,1);
    box-shadow: -1px -1px 44px -6px rgba(255,255,255,1);


}

.tag-button:hover {
    background-color: rgba(200,0,0,0.75);
    -webkit-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    -moz-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    cursor: pointer;

}

.contact-btn a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.tag-line {
    font-size: 72px;

}

.panel {
    border: 0;
    color: #fff;
    min-height: 500px;
    padding: 20px;
    position: relative;

}

.panel img {
    width: 70%;
    margin: 30px;
}

.panel span {
    font-weight: bold;
    font-size: 25px;

}

.design-panel::after {

    background-color: #000000;
    background: url("../images/astro-bg.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    content: "";
    opacity: 0.7;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px) sepia(60%);
}



.development-panel::after {
    background: url("../images/hipster.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    content: "";
    opacity: 0.7;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px) sepia(60%);
}
.comm-panel::after {
    background: url("../images/24hours.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    content: "";
    opacity: 0.7;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px) sepia(60%);
}
.strategy-panel::after {
    background: url("../images/time.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    content: "";
    opacity: 0.7;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(1px) sepia(60%);
}

.more-btn {
    
    border: 2px solid red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 3.0;
    margin-left: auto;
    margin-right: auto;

    -webkit-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    -moz-box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    box-shadow: -1px -1px 44px -6px rgba(255,0,0,1);
    cursor: pointer;

}

.more-btn-abs {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 10px);
    background-color: rgba(255,255,255, 0.9);
    z-index: 200;
}
/* Shutter Out Vertical */
.hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background: #d11b1a;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#panels:before {
    content: "";
    z-index: 1;
    background-color: rgba(0,0,0,0.5);


}
.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: white;
}
.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}




/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* Outline In */
.hvr-outline-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    margin: 10px;
    cursor: pointer;
}
.hvr-outline-in:before {
    pointer-events: none;
    content: '';
    position: absolute;
    border: #d11b1a solid 4px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    opacity: 0.7;

}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #d11b1a;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

footer a {
    color: #d11b1a;
    font-size: 20px;
}

footer .logo-img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    opacity: 0.7;
}

footer .logo-img:hover {
    opacity: 1;
}

footer {
    width: 100%;
    min-height: 300px;
    font-size: 16px;


    color: #fff;
    background: url('../images/bg.jpg');
    background-size: cover;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}


footer nav a {
    color: #fff;
    font-size: 30px;
}

footer nav {
   color: #fff;
    font-size: 30px;
}


/* Porfolio Page */

.fake-browser-ui {
    padding: 20px 0 0;
    border-radius: 3px;
    border-bottom: 2px solid #ccc;
    background: #ddd;
    display: inline-block;
    position: relative;
    line-height: 0;
}

.fake-browser-ui .frame {
    display: block;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 1px;
}

.fake-browser-ui:hover:before {
    content: "";
    position: absolute;
    opacity: 0.5;
    z-index: 100;
    bottom: 0;
    background: #d11b1a;
    height: calc(100% - 20px);
    width: 100%;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.fake-browser-ui span {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid #dadada;
    float: left;
    margin: 0 0 0 4px;
}

.fake-footer{
}



.paper {
    background: #fff;
    margin-top: 50px;

    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;



}

.paper h1,h2,h3 {

    font-family: 'Righteous', cursive;

}

.paper h1 {
    font-size: 10vh;
}

.paper,
.paper::before,
.paper::after {
    /* Styles to distinguish sheets from one another */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    border: 1px solid #bbb;
}

.paper::before,
.paper::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 99%;
    background-color: #eee;
}

.paper::before {
    right: 15px;
    top: 0;
    transform: rotate(-1deg);
    z-index: -1;
}

.paper::after {
    top: 5px;
    right: -5px;
    transform: rotate(1deg);
    z-index: -2;
    filter: drop-shadow(0 0 30px #333);
}

.left-panel {
    background-color: #333333;
    color: #fff;
    padding-right: 0px;
    margin-right: 0px;
}

.left-panel .title {
    width: 100%;
}

.left-panel .spaced-row {
    width: 100%;
    margin-left: 20%;
}

.left-panel .info {
}
.left-icon {
    font-size: 40px;
}
.header-icon {
    font-size: 60px;
    text-align: left;
    position: absolute;
    left: 18px;
    top: 8px;
}


.right-header {
    margin-top: 20px;
    margin-left: 10px;
}
.flex-column .row {
    padding: 10px 0;
}

.years {
    margin-left: 45px;
    border-left: 2px solid #000;
    padding-left: 20px;
    padding-right: 20px;

}


.years-last {
    margin-left: 45px;
    border-left: transparent;
    padding-left: 20px;
    padding-right: 20px;

}

.years-last:before {
    content : "";
    position: absolute;
    left: 60px;
    height  : 10px;
    width   : 50%;  /* or 100px */
    border-left: 2px solid #000;
}


.time-line {
    position: absolute;
    left:  51px;
    margin-top:3px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
}


.avatar {
    margin: 20px auto;
    border:2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius:  50%;
    -moz-border-radius: 50%;
    -webkit-filter: sepia(40%); /* Safari */
    filter: sepia(40%);

}


.resume-side-hr {
    border: 0;
    height: 3px;
    background: #FFF;
    width: 80%;
    align: right;

}

.resume-right-header {
    padding-left: 20%;
    padding-top: 40px;
    padding: 40px 10%;

}
.resume-side-header {


}

h3 {
    width:100%;
}

h3:after {
    content: " ";
    border: 2px solid #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    max-width: 100%;

}

.resume-main-hr {
    border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);

}


/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top: 0px;
    left:0px;
    overflow: auto;
    z-index: 10000000 !important;
}
/* Inner */
.popup-inner {
    width:90%;
    padding:40px;
    position:absolute;
    top: calc(110vh);
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    border-radius:3px;
    z-index: 10000000 !important;
}
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top: 120px;
    right:130px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}